/*styles.css*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    background-color: black; 
    overflow: hidden;
}

#stage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#r_stage {
    display: flex; 
    align-items: center;
}

#l_stage{
    margin-right: 30px;
}

#l_stage #text{
    font-size: 30px;
    text-align: center;
    margin: none;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #4455dd; /* Unit */
    color: white;
    font-size: 20px;

    width: 150px;
    height: 80px;

    border: none;
    border-radius: 7px;

    cursor: pointer;
}

.button_hover:hover{
    background-color: #33aaee; /* Ichika */
    color: black;
}


#settings{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ee6666; /* Honami */
    width: 60vw;
    height: 80vh;
    overflow-y: auto;
}

.title{
    text-align: center;
    color: black;
}

.controls{
    color:black;
    background-color: #bbde22; /* Shiho */
    border: none;
    border-radius: 4px;
    height: 15px;
}

.controls:hover{
    background-color: #ffdd45; /* Saki */
    cursor: pointer;
}

.labels{
    color: black;
    margin-left: 5%;
}

button.labels{
    background-color: #bbde22; 
    border: none;
    border-radius: 4px;
    height: 40px;
    width: auto;
}

button.labels:hover{
    background-color: #ffdd45;
    cursor: pointer;
}

.clear{
    width: 100px;
    height: 50px;
    font-size: medium;
}